@use "./variables" as v;

// vw計算
@function vw($windows_width, $font_size) {
	@return $font_size / $windows_width * 100vw;
}

// rem計算
@function rem($size) {
	@return ($size / 16) + rem;
}

// メディアクエリー
@mixin mq($breakpoint: md) {
	@media #{map-get(v.$breakpoints, $breakpoint)} {
		@content;
	}
}

// ホバー
@mixin hover() {
	@media (hover: hover) {
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.8;
		}
	}
}

// WordPressコンテンツ
@mixin entry-content() {
	p {
		margin-top: 1.2em;
		margin-bottom: 0.8em;
		line-height: (22 / 14);
	}

	h1 {
		margin-top: 1.2em;
		margin-bottom: 0.8em;
	}

	h2 {
		margin-top: 1.8em;
		margin-bottom: 1em;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
	}

	h3 {
		margin-top: 1.8em;
		margin-bottom: 1em;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.4;
	}

	h4 {
		margin-top: 1.6em;
		margin-bottom: 1em;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.6;
	}

	h5 {
		margin-top: 1.6em;
		margin-bottom: 1em;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.6;
	}

	h6 {
		margin-top: 1.6em;
		margin-bottom: 1em;
		font-size: 16px;
		line-height: 1.6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		+ p {
			margin-top: 0;
		}
	}

	a {
		color: $cr-m;
		text-decoration: underline;
		transition: all 0.3s ease 0s;

		@include mq("hover") {
			&:hover {
				@include hover;
			}
		}
	}

	hr {
		margin-top: 46px;
		margin-bottom: 46px;
		border-top: 2px dotted $cr-m;
		border-bottom: none;

		@include mq("sp") {
			margin-top: 22px;
			margin-bottom: 22px;
		}
	}

	ul {
		padding-left: 20px;
		margin-top: 1em;
		margin-bottom: 1em;
		list-style-type: disc;

		ul,
		ol {
			margin-bottom: 0;
		}
	}

	ol {
		padding-left: 20px;
		margin-top: 1em;
		margin-bottom: 1em;
		list-style-type: decimal;

		ul,
		ol {
			margin-bottom: 0;
		}
	}

	li {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		line-height: 1.6;
	}

	figure {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	blockquote {
		padding: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.6;
		background: #eee;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	q {
		display: inline-block;
		padding-right: 0.2em;
		padding-left: 0.2em;
		vertical-align: middle;
		background: #eee;
	}

	strong,
	em,
	b {
		font-style: normal;
		font-weight: 700;
	}

	a {
		text-decoration: underline;
		transition: opacity 0.3s ease 0s;

		@include mq("hover") {
			&:hover {
				@include hover;
			}
		}
	}

	iframe,
	video,
	img {
		max-width: 100%;
	}

	iframe {
		width: 100%;
	}

	.wp-block-lazyblock-example-block {
		margin-top: 42px;
		margin-bottom: 42px;

		@include mq("sp") {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.wp-block-lazyblock-youtube {
		margin-top: 24px;
		margin-bottom: 24px;

		@include mq("sp") {
			margin-top: 14px;
			margin-bottom: 14px;
		}
	}

	.wp-block-group {
		padding: 32px 34px;
		margin-top: 40px;
		background: #e7efef;
		border-radius: 12px;

		@include mq("sp") {
			padding: 15px;
			margin-top: 20px;
		}
	}
}

@mixin block() {
	// 引用
	.wp-block-quote {
		> p {
		}

		> cite {
		}
	}

	// 画像
	.wp-block-image {
		> img {
		}

		figcaption {
			font-size: 13px;
		}
	}

	.wp-block-group {
	}

	.wp-block-group__inner-container {
		> :first-child {
			margin-top: 0;
		}
	}

	// ギャラリー
	.wp-block-gallery {
	}

	.blocks-gallery-item {
		> figure {
			> img {
			}

			> figcaption {
			}
		}
	}

	// オーバーレイ
	.wp-block-cover {
	}

	.wp-block-cover-text {
	}

	// ファイル
	.wp-block-file {
	}

	.wp-block-file__button {
	}

	// 動画
	.wp-block-video {
		> video {
		}

		> figcaption {
		}
	}

	// プルクオート
	.wp-block-pullquote {
		> blockquote {
			> p {
			}

			> cite {
			}
		}
	}

	// ソースコード
	.wp-block-code {
		> code {
		}
	}

	// 整形済み
	.wp-block-preformatted {
		> code {
		}
	}

	// テーブル
	.wp-block-table {
		tr {
		}

		th,
		td {
		}

		th {
		}

		td {
		}
	}

	// 詩
	.wp-block-verse {
	}

	// ボタン
	.wp-block-button {
	}

	a.wp-block-button__link {
		margin: 1em 0;
		text-decoration: none;
	}

	// カラム
	.wp-block-columns {
	}

	.wp-block-column {
		> :first-child {
			margin-top: 0;
		}
	}

	// メディアと文章
	.wp-block-media-text {
	}

	.wp-block-media-text__media {
		> img {
		}
	}

	.wp-block-media-text__content {
	}

	// カレンダー
	.wp-block-calendar {
		table {
			caption {
			}

			tr {
			}

			th,
			td {
			}

			th {
			}

			td {
			}
		}
	}

	// アーカイブ
	.wp-block-archives {
		li {
			a {
			}
		}
	}

	.wp-block-categories {
		li {
			a {
			}
		}
	}

	.wp-block-latest-comments {
	}

	.wp-block-latest-comments__comment {
		> img {
		}
	}

	// 最新の記事
	.wp-block-latest-posts {
		li {
			a {
			}
		}
	}

	// 検索
	.wp-block-search {
	}

	.wp-block-search__label {
	}

	.wp-block-search__input {
	}

	.wp-block-search__button {
	}

	// タグクラウド
	.wp-block-tag-cloud {
		a {
		}
	}

	// 埋め込み
	.wp-block-embed {
	}

	// YouTube
	.wp-block-embed-youtube {
	}

	.wp-block-embed__wrapper {
		> iframe {
		}
	}

	// オーディオ
	.wp-audio-shortcode {
	}
}
