@use "../global" as g;

.c-category {
	display: inline-block;
	padding: 0.5em 0.7em;
	font-weight: 700;
	line-height: 1;
	color: g.$cr-text;
	white-space: nowrap;
	background: g.$cr-gray;
	border: 1px solid transparent;
	border-radius: 0.2em;
	transition: border 0.3s;

	@include g.hover;
}
