*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: Helvetica Neue, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, BIZ UDPGothic, Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  min-height: 100vh;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

th,
td {
  border: none;
  text-align: left;
  vertical-align: middle;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

em {
  font-style: normal;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.l-section {
  padding: 80px 0;
}

.l-inner {
  margin-inline: auto;
  max-width: min(100% - 28px, 600px);
}

.l-wrap-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 400px;
  padding: 20px 20px;
  width: 100%;
}

.c-btn {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
}

.c-title {
  font-size: 34px;
  font-weight: 700;
}

.p-nav-top {
  background-color: #e6e6e6;
  border-radius: 4px;
  margin-top: 1em;
  min-width: 250px;
  padding: 20px 60px;
  text-align: center;
}

.p-nav-top__title {
  font-size: 22px;
  font-weight: 700;
}

.p-nav-top__lists {
  margin-top: 0.5em;
}

.p-nav-top__link {
  display: inline-block;
  padding: 0.2em 0;
  text-decoration: underline;
}

.p-splide-default {
  max-height: 100vh;
}

.p-splide-default img {
  width: 100%;
}

@media (min-width: 768px) {
  .l-inner {
    max-width: min(100% - 100px, 1060px);
  }
}