*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: Helvetica Neue, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, BIZ UDPGothic, Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  min-height: 100vh;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

th,
td {
  border: none;
  text-align: left;
  vertical-align: middle;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

em {
  font-style: normal;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.l-fade-open {
  opacity: 0;
  transition: opacity 0.3s;
}

.l-fade-open[data-loading=true] {
  opacity: 1;
}

.l-section {
  padding: 80px 0;
}

.l-inner {
  margin-inline: auto;
  max-width: min(100% - 28px, 600px);
}

.l-wrap-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 400px;
  padding: 20px 20px;
  width: 100%;
}

.c-button-circle {
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #031075;
  display: block;
  height: 40px;
  line-height: 1;
  margin: 0;
  opacity: 1 !important;
  overflow: hidden;
  position: relative;
  transform: scale(1) !important;
  width: 40px;
}

.c-button-circle__cover1 {
  left: 50%;
}

.c-button-circle__cover1::before {
  background: #fff;
  height: 200%;
  transform-origin: 0 25%;
  width: 100%;
}

.c-button-circle__cover2 {
  left: 0;
}

.c-button-circle__cover2:before {
  background: #fff;
  height: 120%;
  left: -10%;
  transform-origin: 100% 40%;
  width: 110%;
}

.c-button-circle__cover1,
.c-button-circle__cover2 {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50%;
}

.c-button-circle__cover1::before,
.c-button-circle__cover2::before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.c-button-circle.is-active .c-button-circle__cover1::before {
  animation: draw 1.6s linear forwards;
}

.c-button-circle.is-active .c-button-circle__cover2:before {
  animation: draw 1.6s ease-out 1.6s forwards;
}

@keyframes draw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.c-category {
  background: #d6d6d6;
  border: 1px solid transparent;
  border-radius: 0.2em;
  color: #333;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 0.5em 0.7em;
  transition: border 0.3s;
  white-space: nowrap;
}

.c-title {
  font-size: 34px;
  font-weight: 700;
}

.p-arrows-category__arrow:disabled {
  opacity: 0;
}

.p-circleAnm-pagination {
  gap: 10px;
  counter-reset: pagination-num;
}

.p-circleAnm-pagination__item::after {
  content: counter(pagination-num);
  counter-increment: pagination-num;
  position: relative;
  z-index: 2;
}

.p-fv-active-change {
  background: #eeeeee;
  padding: 100px 0;
}

.p-fv-active-change__inner {
  margin-inline: auto;
  max-width: 1280px;
}

.p-fv-active-change__head {
  font-size: 18px;
  text-align: center;
}

.p-fv-fixed {
  height: max(100vh, 400px);
  position: relative;
  width: 100%;
}

.p-fv-fixed__img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.p-fv-fixed__img img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.p-fv-fixed__inner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-fv-fixed__head {
  color: #fff;
  font-size: 5.2083333333vw;
  white-space: nowrap;
}

.p-fv-fixed__head--transition-color {
  transition: color 0.3s;
}

.p-fv-fixed__text {
  color: #fff;
  font-size: 2.6041666667vw;
}

.p-fv-full {
  height: max(100vh, 400px);
  position: relative;
  width: 100%;
}

.p-fv-full__img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.p-fv-full__img img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.p-fv-full__inner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-fv-full__head {
  color: #fff;
  font-size: 5.2083333333vw;
  white-space: nowrap;
}

.p-fv-full__text {
  color: #fff;
  font-size: 2.6041666667vw;
}

.p-fv-full__text-anm {
  color: #fff;
  font-size: 2.6041666667vw;
}

.p-fv-zoomup {
  height: max(100vh, 400px);
  position: relative;
  width: 100%;
}

.p-fv-zoomup__img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.p-fv-zoomup__img img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.p-fv-zoomup__inner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-fv-zoomup__head {
  color: #fff;
  font-size: 5.2083333333vw;
  white-space: nowrap;
}

.p-fv-zoomup__text {
  color: #fff;
  font-size: 2.6041666667vw;
}

.p-nav-top {
  background-color: #eeeeee;
  border-radius: 4px;
  margin-top: 1em;
  min-width: 250px;
  padding: 20px 60px 40px;
}

.p-nav-top__title {
  font-size: 26px;
  font-weight: 700;
}

.p-nav-top__subTitle {
  font-size: 18px;
  font-weight: 700;
}

.p-nav-top__lists {
  margin-top: 1em;
}

.p-nav-top__subLists {
  margin: 0.5em 0;
}

.p-nav-top__link {
  color: #3131ff;
  display: inline-block;
}

.p-splide-active-change__slide {
  height: 180px;
  width: 180px;
}

.p-splide-active-change__item {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100%;
  width: 100%;
}

.is-active > .p-splide-active-change__item {
  background-size: 100% auto;
}

.p-splide-active-change__item--wordpress {
  background-image: url(../img/icon-wordpress.svg);
}

.is-active > .p-splide-active-change__item--wordpress {
  background-image: url(../img/banner-wordpress.svg);
}

.p-splide-active-change__item--html {
  background-image: url(../img/icon-html.svg);
}

.is-active > .p-splide-active-change__item--html {
  background-image: url(../img/banner-html.svg);
}

.p-splide-active-change__item--website {
  background-image: url(../img/icon-website.svg);
}

.is-active > .p-splide-active-change__item--website {
  background-image: url(../img/banner-website.svg);
}

.p-splide-active-change__item--conserve {
  background-image: url(../img/icon-conserve.svg);
}

.is-active > .p-splide-active-change__item--conserve {
  background-image: url(../img/banner-conserve.svg);
}

.p-splide-category__track {
  position: relative;
}

.p-splide-category__track::after,
.p-splide-category__track::before {
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  z-index: 2;
}

.p-splide-category__track::before {
  background: linear-gradient(to right, #fff 55%, transparent);
  left: 0;
}

.p-splide-category__track::after {
  background: linear-gradient(to left, #fff 55%, transparent);
  right: 0;
}

.p-splide-fv {
  max-height: 100vh;
}

.p-splide-fv img {
  width: 100%;
}

.p-splide-zoomup__slide img {
  transition: scale 6s;
}

.p-splide-zoomup__slide.is-active img {
  scale: 1.1;
}

.u-hidden-sp {
  display: none;
}

.u-hidden-visually {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mt-40 {
  margin-top: 40px !important;
}

.u-anm-text-in {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.u-anm-text-in span {
  display: inline-block;
  transform: translateY(105%);
}

.splide__slide.is-active .u-anm-text-in span:nth-child(1) {
  animation: fadeInText 1s ease 0.1s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(2) {
  animation: fadeInText 1s ease 0.2s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(3) {
  animation: fadeInText 1s ease 0.3s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(4) {
  animation: fadeInText 1s ease 0.4s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(5) {
  animation: fadeInText 1s ease 0.5s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(6) {
  animation: fadeInText 1s ease 0.6s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(7) {
  animation: fadeInText 1s ease 0.7s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(8) {
  animation: fadeInText 1s ease 0.8s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(9) {
  animation: fadeInText 1s ease 0.9s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(10) {
  animation: fadeInText 1s ease 1s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(11) {
  animation: fadeInText 1s ease 1.1s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(12) {
  animation: fadeInText 1s ease 1.2s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(13) {
  animation: fadeInText 1s ease 1.3s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(14) {
  animation: fadeInText 1s ease 1.4s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(15) {
  animation: fadeInText 1s ease 1.5s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(16) {
  animation: fadeInText 1s ease 1.6s forwards;
}

.splide__slide.is-active .u-anm-text-in span:nth-child(17) {
  animation: fadeInText 1s ease 1.7s forwards;
}

@keyframes fadeInText {
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .l-inner {
    max-width: min(100% - 100px, 1060px);
  }

  .p-fv-active-change__head {
    font-size: 30px;
  }

  .p-splide-active-change__slide {
    height: 250px;
    width: 250px;
  }

  .p-splide-active-change__item {
    background-size: 80px 80px;
  }

  .u-hidden-pc {
    display: none !important;
  }

  .u-hidden-sp {
    display: block;
  }
}

@media (hover: hover) {
  .p-nav-top__link:hover {
    text-decoration: underline;
  }
}