*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: Helvetica Neue, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, BIZ UDPGothic, Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  min-height: 100vh;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

th,
td {
  border: none;
  text-align: left;
  vertical-align: middle;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

em {
  font-style: normal;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

form button,
form [type=submit],
form [type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  width: auto;
}

select {
  background: none;
  cursor: pointer;
}

[type=text],
[type=search],
[type=tel],
[type=url],
[type=email],
[type=password],
[type=date],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f2f2f2;
  border: solid 1px transparent;
  border-radius: 0;
  padding: 12px 8px;
  width: 100%;
}

[type=text]::-moz-placeholder,
[type=search]::-moz-placeholder,
[type=tel]::-moz-placeholder,
[type=url]::-moz-placeholder,
[type=email]::-moz-placeholder,
[type=password]::-moz-placeholder,
[type=date]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #d7d7d7;
  font-size: 16px;
}

[type=text]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=url]::placeholder,
[type=email]::placeholder,
[type=password]::placeholder,
[type=date]::placeholder,
select::placeholder,
textarea::placeholder {
  color: #d7d7d7;
  font-size: 16px;
}

[type=text]:hover,
[type=text]:focus,
[type=search]:hover,
[type=search]:focus,
[type=tel]:hover,
[type=tel]:focus,
[type=url]:hover,
[type=url]:focus,
[type=email]:hover,
[type=email]:focus,
[type=password]:hover,
[type=password]:focus,
[type=date]:hover,
[type=date]:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  outline: none;
}

[type=text]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=url]:focus,
[type=email]:focus,
[type=password]:focus,
[type=date]:focus,
select:focus,
textarea:focus {
  border-color: red;
  box-shadow: none;
  outline: none;
}

[type=radio] {
  opacity: 0;
  position: absolute;
}

[type=radio] + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 24px;
  position: relative;
}

[type=radio] + span::before {
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

[type=radio] + span::after {
  background: red;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  left: 10px/2;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease 0s;
  width: 10px;
}

[type=radio]:checked + span::after {
  opacity: 1;
}

[type=checkbox] {
  opacity: 0;
  position: absolute;
}

[type=checkbox]::after {
  opacity: 0;
}

[type=checkbox] + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 32px 10px 0;
  padding: 0 0 0 24px;
  position: relative;
}

[type=checkbox] + span::before {
  background: #fff;
  border: 1px solid #bfbfbf;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

[type=checkbox]:checked + span::after {
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  margin-top: -0.2em;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 20px;
}

.l-section {
  padding: 80px 0;
}

.l-inner {
  margin-inline: auto;
  max-width: min(100% - 28px, 600px);
}

.l-wrap-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 400px;
  padding: 20px 20px;
  width: 100%;
}

.c-btn {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
}

.c-title {
  font-size: 34px;
  font-weight: 700;
}

.p-nav-top {
  background-color: #e6e6e6;
  border-radius: 4px;
  margin-top: 1em;
  min-width: 250px;
  padding: 20px 60px;
  text-align: center;
}

.p-nav-top__title {
  font-size: 22px;
  font-weight: 700;
}

.p-nav-top__lists {
  margin-top: 0.5em;
}

.p-nav-top__link {
  display: inline-block;
  padding: 0.2em 0;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .l-inner {
    max-width: min(100% - 100px, 1060px);
  }
}