@use "../global" as g;

.p-fv-full {
	position: relative;
}

.p-fv-full__img {
	width: 100%;
	min-height: 400px;
	max-height: 100vh;
	object-fit: cover;

	img {
		width: 100%;
	}
}

.p-fv-full__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p-fv-full__head {
	color: #fff;
	font-size: g.vw(768, 40);
	white-space: nowrap;
}

.p-fv-full__text {
	color: #fff;
	font-size: g.vw(768, 20);
}
