@use "../global" as g;

.p-fv-active-change {
	padding: 100px 0;
	background: g.$cr-gray-light;
}
.p-fv-active-change__inner {
	max-width: 1280px;
	margin-inline: auto;
}
.p-fv-active-change__head {
	font-size: 18px;
	text-align: center;

	@include g.mq("md") {
		font-size: 30px;
	}
}
