@use "../global" as g;

.p-fv-fixed {
	position: relative;
	width: 100%;
	height: max(100vh, 400px);
}
.p-fv-fixed__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.p-fv-fixed__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.p-fv-fixed__head {
	font-size: g.vw(768, 40);
	color: #fff;
	white-space: nowrap;
}
.p-fv-fixed__text {
	font-size: g.vw(768, 20);
	color: #fff;
}
