@use "../global" as g;

.p-splide-active-change__slide {
	width: 180px;
	height: 180px;

	@include g.mq("md") {
		width: 250px;
		height: 250px;
	}
}

.p-splide-active-change__item {
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px 50px;

	@include g.mq("md") {
		background-size: 80px 80px;
	}

	.is-active > & {
		background-size: 100% auto;
	}
}

.p-splide-active-change__item--wordpress {
	background-image: url(../img/icon-wordpress.svg);

	.is-active > & {
		background-image: url(../img/banner-wordpress.svg);
	}
}

.p-splide-active-change__item--html {
	background-image: url(../img/icon-html.svg);

	.is-active > & {
		background-image: url(../img/banner-html.svg);
	}
}

.p-splide-active-change__item--website {
	background-image: url(../img/icon-website.svg);

	.is-active > & {
		background-image: url(../img/banner-website.svg);
	}
}

.p-splide-active-change__item--conserve {
	background-image: url(../img/icon-conserve.svg);

	.is-active > & {
		background-image: url(../img/banner-conserve.svg);
	}
}
